*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
composeApp/local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/composeApp/framework/
/composeApp/holons/
*.*-autosave.kra
